<footer id="footer" class="bg-primary page-footer font-small mt-5 text-white">
    <section class="footer-copyright text-center py-3">
        © 2020 Copyright
    </section>
</footer>
</body>

</html>