<%- include('../includes/head.ejs') %>

<body class="woman">

    <%- include('../includes/navigation.ejs') %>

    <main class="text-center inner cover">

        <h1 class="mb-5 opener">ShopHaus</h1>
        <a href="#" class="btn btn-primary"> Shop Now </a>

    </main>
    <%- include('../includes/end.ejs') %>